.style1 {
    padding: 10% 5%;
}

.style2 {
    width: 15rem;
}

.style3 {
    width: 4.2rem;
}

.imgstyle {
    border-radius: 10px;
}

.margin-top {
    margin-top: 9%;
}

.footer-style {
    background-color: rgba(0, 0, 0, 0.2);
}

.fontsize {
    font-size: 18px;
}
